body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

canvas {
  margin-bottom: 20px;
  max-width: 90vw;
  max-height: 90vw;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#girar {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

#opcion-actual {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

#resultado-final {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  color: green;
}

@media (max-width: 600px) {
  #girar {
    width: 80%;
    font-size: 1.2rem;
  }
}

